<app-top-bar></app-top-bar>
<p>Choose one category</p>
<select [(ngModel)]="cat" (ngModelChange)="toCat()" name="fa" id="fa">
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
</select>
<app-product-list [cat]="cat">

</app-product-list>
<!--<div class="container">
  <router-outlet></router-outlet>
</div>-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->